.App {
  text-align: center;
}

.App::after {
  content: '';
  display: block;
  clear: both;
}

@media (min-width: 768px) {
  .App {
    display: table;
  }
  .App .col-1, .App .col-2 {
    display: table-cell;
    vertical-align: bottom;
  }
  .App .col-1 {
    text-align: left;
    padding: 10px;
  }
  .App .col-2 {
    max-width: 400px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-group p.alert {
  color: rgb(240, 89, 89);
}

form > div.input-group {
  margin-bottom: 20px;
}